﻿﻿ /*------------------------------
=BASIC SETUP
------------------------------*/
@font-face {
    font-family: 'filmstrip Font';
    src: url('../fonts/Filmstrip.ttf') format('truetype');
}

@font-face {
    font-family: 'cartoon Font';
    src: url('../fonts/Cartoon.ttf') format('truetype');
}

@font-face {
    font-family: fantasy;
}

@font-face {
    font-family: 'hollywood Font';
    src: url('../fonts/SFHollywoodHills.ttf') format('truetype');
}


/*
 * Globals
 */

body {
    font-family: varela Font;
    color: #555;
    /*background: linear-gradient(white, rgba(30, 161, 239, 0.63))*/
    overflow-x: hidden;
    height: 100%;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-weight: normal;
    color: #333;
    font-family: fantasy;
}

.list-aside > li {
    color: #43484c;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Hanzo Font';
}
/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

    .blog-nav-item:hover,
    .blog-nav-item:focus {
        color: black;
        text-decoration: none;
    }

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

    .blog-nav .active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        content: " ";
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
    }


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    font-size: 40px;
    font-weight: normal;
    width: 20%;
    margin-bottom: 0;
}

    .blog-title a {
        color: #820101;
    }

        .blog-title a:hover {
            color: #be0000g;
            text-decoration: none;
        }

.article-title {
    color: black;
    font: 100 20px/1.5 'blockletter Font';
}

    .article-title a {
        color: black;
        transition: all 0.2s;
    }

        .article-title a:hover {
            color: red;
        }

.section-title {
    color: #820101;
    font-family: fantasy;
}

.article-title:hover {
    text-decoration: none;
    color: red;
}

.article-body {
    font: 200 13px/1.5 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

.nav-link {
    position: relative;
    font-family: fantasy;
    font-weight: 600;
    color: black;
}

.form-group {
    padding: 0.5vh 0.5vw;
    margin-right: 10px;
    width: 160px;
}


/*
 * Main column and sidebar layout
 */
.blog-main {
    height: 100%;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 20px;
    margin-top: 3%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 16px 3px #ccc;
    padding: 2%;
    margin-bottom: 10px;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    // back to default font-size color: $blockquote-small-color;
    &::before

{
    content: "\2014 \00A0";
    // em dash, nbsp
}

}

.btn-stats {
    background-color: #580c0c;
    color: white !important;
    margin-right: 10px;
}

.btn-add-movie, .btn-add-post {
    margin-right: 40px;
}

.btn-search-movies {
    margin-left: 8px;
}

.btn-search-posts {
}

.btn:focus, .btn:active {
    outline: none;
    color: white;
}

.btn {
    background-color: #690815;
    color: white;
}

.tweet-btn:hover {
    color: white;
    transform: scale(1.1);
}

.tweet-btn {
    margin-top: 66px;
    margin-left: 25px;
}

.btn:hover {
    background-color: #420404;
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

.form-control {
    font-family: Calibri;
    width: 100% !important
}

.image-name-edit {
    display: none !important;
}

.filter-title {
    margin-bottom: 25px;
}

table {
    margin-top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
    text-align: center !important;
}

table img {
    max-height: 80px;
    max-width: 80px;
}

.small-text {
    font-size: 10px;
    color: #636263;
    margin-bottom: 5px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    background-color: #fff9f5;
    border-radius: 22px;
    box-shadow: 0px 2px 16px 3px #ccc;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

    .pager > li > a {
        width: 140px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 30px;
    }

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

    .blog-post img {
        width: 50%;
        max-height: 300px;
        margin: auto;
        margin-bottom: 20px;
    }

.blog-post-title {
    margin-bottom: 5px;
    font-size: 30px;
    font-family: fantasy;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

#content {
    margin-top: 15px;
    padding: 15px;
}

.add-comment-pannel {
    padding-left: 15px;
}
/*
 * Footer
 */
.blog-footer {
    padding: 5px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

    .blog-footer p:last-child {
        margin-bottom: 0;
    }

#haTitle {
    text-shadow: 3px 3px #DDDDDD;
}

.mul-col-blue {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: lightblue;
    margin: auto;
    width: 730px;
    padding: 10px;
}


.aboutMe {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}



#transDemo2 div {
    height: 30px;
    width: 30px;
    text-align: center;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

    #transDemo2 div:hover, #transDemo2 div.hover_effect {
        -webkit-transform: rotate(720deg) scale(2,2);
        -moz-transform: rotate(720deg) scale(2,2);
        -ms-transform: rotate(720deg) scale(2,2);
        transform: rotate(720deg) scale(2,2);
    }


/*------------------------------
=NAVIGATION
------------------------------*/



nav ul {
    margin: 0 auto;
    list-style: none;
}

    nav ul li {
        float: left;
    }

        nav ul li a {
            display: block;
            margin-right: 20px;
            width: 140px;
            font-size: 30px;
            line-height: 54px;
            text-align: center;
            text-decoration: none;
            color: black;
            transition: all 0.2s;
        }

            nav ul li a:hover {
                color: #be0000;
                text-decoration: none;
            }

        nav ul li.selected a {
            color: deeppink;
        }

        nav ul li.subscribe a {
            margin-left: 22px;
            padding-left: 33px;
            text-align: left;
        }
/*background: url("images/rss.png") left center no-repeat;
                height:30px;
                width:30px;
                text-align: center;
                -webkit-transition: all 2s ease-in-out;
                -moz-transition: all 2s ease-in-out;
                -ms-transition: all 2s ease-in-out;
                transition: all 2s ease-in-out;
            }*/

#transDemo2 div {
    /*height:30px;
              width:30px;*/
    text-align: center;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

    #transDemo2 div:hover, #transDemo2 div.hover_effect {
        -webkit-transform: rotate(720deg) scale(2,2);
        -moz-transform: rotate(720deg) scale(2,2);
        -ms-transform: rotate(720deg) scale(2,2);
        transform: rotate(720deg) scale(2,2);
    }


/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
    position: relative;
    margin-top: 66px;
    padding: 44px;
    /*background: #467612 url("images/intro_background.png") repeat-x;*/
    background: #b9d647;
    background: -webkit-linear-gradient(#b9d647, #587a29) background: -o-linear-gradient(#b9d647, #587a29);
    background: -moz-linear-gradient(#b9d647, #587a29);
    background: linear-gradient(#b9d647, #587a29);
    /* Background-size not implemented yet */
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;
    /* Border-radius not implemented yet */
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}

    #intro h2, #intro p {
        position: relative;
        z-index: 9999;
        width: 436px;
    }

    #intro h2 {
        padding: 0 0 22px 0;
        font-weight: normal;
        color: black;
    }

    #intro p {
        padding: 0;
        color: #d9f499;
    }

    #intro img {
        position: absolute;
        top: 0;
        right: 0;
        width: 653px;
        height: 100%;
        /* Border-radius not implemented yet */
        -moz-border-radius: 22px;
        -webkit-border-radius: 22px;
    }


/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

/*#content {
    display: table;
}*/

#mainContent {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}

aside {
    display: table-cell;
    width: 300px;
    /*background: url("images/sidebar_background.png") top left;*/
    background-color: #e3e3e3;
}


    /*------------------------------
=SIDEBAR
------------------------------*/
    aside section {
        margin: 22px 0 0 22px;
        padding: 11px 22px;
        /*background: url("images/sidebar_section_background.png") repeat-x;*/
        /*background-color: red;*/
        background-color: #f9e6da;
        /* Border-radius not implemented yet */
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
    }

        aside section ul {
            margin: 0 0 0 22px;
            list-style: none;
        }

            aside section ul li a {
                display: block;
                text-decoration: none;
                color: #000;
            }

                aside section ul li a:hover {
                    text-decoration: underline;
                }

/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
    font-size: 14px;
    font-style: italic;
    color: #777;
}

    .blogPost header p a:hover {
        text-decoration: none;
        color: #000;
    }

.blogPost div {
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
}

.blogPost img {
    margin: 22px 0;
    -webkit-box-shadow: 3px 3px 7px #777;
}

.blogPost video {
    margin: 12px 0;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 3px 3px 7px #777;
}

/*------------------------------
=COMMENTS
------------------------------*/

#comments {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

    #comments article {
        display: table;
        padding: 22px;
    }

        #comments article:nth-child(odd) {
            padding: 21px;
            background: #E3E3E3;
            border: 1px solid #d7d7d7;
            -moz-border-radius: 11px;
            -webkit-border-radius: 11px;
        }

        #comments article header {
            display: table-cell;
            width: 220px;
            padding-right: 22px;
        }

            #comments article header a {
                display: block;
                font-weight: bold;
                color: #000;
            }

                #comments article header a:hover {
                    text-decoration: none;
                }

        #comments article p {
            padding: 0;
        }





/*------------------------------
=COMMENT FORM
------------------------------*/


form p {
    display: table;
    margin-bottom: 22px;
    padding: 0 22px;
}

form label {
    display: table-cell;
    width: 140px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form input[type="text"], form input[type="email"], form input[type="url"] {
    display: table-cell;
    width: 300px;
    border: 1px solid #d7d7d7;
}

form textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d7d7d7;
}

.buttons {
    text-align: -webkit-center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*------------------------------
=FOOTER
------------------------------*/
footer {
    position: absolute;
    left: 0;
    width: 100%;
    background: #222;
}

    footer div {
        display: table;
        margin: 0 auto;
        padding: 44px 0;
        width: 940px;
        color: #777;
    }

        footer div section {
            display: table-cell;
            width: 300px;
        }

        footer div #about, footer div #blogroll {
            padding-right: 20px;
        }

footer {
    color: #FFF;
}

    footer a {
        color: #999;
    }

        footer a:hover {
            color: #FFF;
            text-decoration: none;
        }

    footer ul {
        margin: 0 0 0 40px;
        list-style: square;
        color: #565656;
    }

        footer ul li a {
            display: block;
        }

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.u-clearfix:after {
    clear: both;
}

.u-clearfix {
    *zoom: 1;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 85px;
    width: 100%;
    height: 100px;
    font-size: 12px !important;
}

.card-media {
    float: left;
    padding: 0 0 25px 25px;
    position: relative;
    width: 120px;
}

.card-media-img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    float: left;
    margin-top: -25px;
    position: relative;
    max-height: 100px;
    max-width: 100px;
}

.card-media-preview {
    background-color: #00AEA2;
    border-radius: 50%;
    bottom: 11px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    cursor: pointer;
    height: 30px;
    opacity: 0;
    position: absolute;
    left: 70px;
    transform: translateY(5px);
    transition: all 300ms ease-out;
    width: 30px;
    z-index: 3;
}

    .card-media-preview:hover {
        background-color: #009d92;
        box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
    }

.card:hover .card-media-preview {
    opacity: 1;
    transform: translateY(0);
}

.card-media-tag {
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .22);
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .4px;
    padding: 5px 8px;
    position: absolute;
    left: 0;
    text-transform: uppercase;
    top: 60px;
    background-color: #580c0c;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-body {
    float: left;
    width: 230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -28px;
}

.imdbRating, .imdbVoters {
    text-align: center;
}

.card-body-stars {
    list-style-type: none;
    padding: 0;
    display: table-column;
    align-items: center;
}

.card-body-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .card-body-title h4 {
        margin: 0;
        margin-right: 10px;
        color: black;
        text-decoration: none;
    }

    .card-body-title a {
        color: black !important;
        text-decoration: none;
    }


.article-container * {
    margin: 0;
    padding: 0;
}

.article-container div {
    margin: 8px;
}

.article-container .article-info div {
    margin: 0 !important;
}

.article-container ul {
    list-style-type: none;
    width: 100%;
}

.article-container h3 {
    font: 100 20px/1.5 'blockletter Font';
}

.article-container li img {
    float: left;
    margin: 0 15px 0 0;
    height: 130px;
    width: 170px;
}

.article-container li {
    border-bottom: 1px solid lightgray;
    padding: 12px;
    overflow: auto;
    font: 200 13px/1.5 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .article-container li:hover {
        background: #eee;
        cursor: pointer;
    }

.first-filter-row {
    margin-bottom: 30px;
}

.list-inline {
    margin-left: 45%;
}

.options-dropdown {
    margin-right: 142px;
    float: right;
}

.options-btn {
    width: 100px;
    font-size: 18px !important;
}

.movie-field, .post-field {
    width: 40%;
    margin-right: 10%;
}

.comment-field {
    width: 60%;
}

    .comment-field input {
        width: 40%;
    }

.movie-field input, .post-field input, comment-field input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
}

.fields-row {
    display: inline-flex;
    width: 100%;
    margin-bottom: 2%;
}

.control-label {
    width: 20%;
}

.select-field {
    border-radius: 4px;
    height: 34px;
    width: 281px;
}

.comment-select-field {
    border-radius: 4px;
    height: 34px;
    width: 443px;
    font-size: 14px;
}

.comments-title {
    padding-left: 0 !important;
}

dt, dd {
    line-height: 2 !important;
    text-align: left !important;
}

.second-row {
    margin-top: -10px;
}

#postId {
    display: none;
}

.control-label {
    text-align: left !important;
}